/* Global */
html {
  height: 100%;
  font-size: 62.5%;
  /* Simplifie calcul des tailles de polices en rem */
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Indie Flower", cursive;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-size: 1.6rem;
  font-size: 16px;
  /* Pour les anciens navigateurs */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* List Section */
header {
  max-width: 500px;
  width: 90%;
  margin: 1em auto 0 auto;
  padding: 1em 0;
  border: 2px solid #fff;
  border-radius: 10px;
}
header #enter {
  display: inline-block;
  padding: 0.5em;
  margin-bottom: 1em;
  background-color: #229aad;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.item1, .item2, .item3 {
  display: none;
  font-size: 2.2rem;
  font-size: 22px;
  margin-top: 2em;
}

li i {
  width: 100%;
  transition: all 0.2s ease-in-out;
}
li i:hover, li i:focus {
  color: #229aad;
  cursor: pointer;
}

/*--------------
The drawing
---------------*/
/* text and icon */
.blow {
  display: none;
  font-size: 1.5em;
  margin-top: 2em;
}

#wind {
  display: none;
  background-color: orange;
  border-radius: 5px;
  position: relative;
  top: 2em;
}
#wind:hover, #wind:focus {
  cursor: pointer;
}

#fire {
  display: none;
  background-color: orange;
  border-radius: 5px;
  position: relative;
  top: 2em;
}
#fire:hover, #fire:focus {
  cursor: pointer;
}

/* cake */
.drawing {
  display: none;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 2em auto 0 auto;
}
.drawing .candle {
  position: absolute;
  bottom: 150px;
  left: 140px;
  width: 15px;
  height: 50px;
  background-color: red;
  border-radius: 4px;
  z-index: 100;
}
.drawing .candle .burnt {
  position: absolute;
  top: -14px;
  left: 7px;
  width: 1px;
  height: 20px;
  background-color: #333;
  box-shadow: 0px -1px 1px 1px #666;
  z-index: 110;
}
.drawing .candle .flame {
  position: absolute;
  top: -30px;
  left: 3px;
  width: 9px;
  height: 30px;
  background-color: rgba(255, 165, 0, 0.9);
  border-radius: 50%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  z-index: 120;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: moveFlame 1s ease-in-out alternate infinite;
  animation: moveFlame 1s ease-in-out alternate infinite;
}
.drawing .cream {
  position: absolute;
  bottom: 110px;
  left: 30px;
  background-color: #fffbe2;
  width: 240px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #fff4af;
  box-shadow: inset 0 0 5px #fff4af;
  z-index: 60;
}
.drawing .creamMore1 {
  position: absolute;
  bottom: 90px;
  left: 50px;
  background-color: #fff4af;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 50;
  -webkit-transform: skewY(10deg);
  transform: skewY(10deg);
}
.drawing .creamMore2 {
  position: absolute;
  bottom: 75px;
  left: 130px;
  background-color: #fff4af;
  width: 20px;
  height: 40px;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 50;
}
.drawing .creamMore3 {
  position: absolute;
  bottom: 90px;
  left: 190px;
  background-color: #fff4af;
  width: 60px;
  height: 40px;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 50;
  -webkit-transform: skewY(-10deg);
  transform: skewY(-10deg);
}
.drawing .cake1 {
  position: absolute;
  bottom: 20px;
  left: 30px;
  background-color: #ffb0be;
  width: 240px;
  height: 80px;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0px 6px 3px -5px #666;
  z-index: 10;
}
.drawing .cake2 {
  position: absolute;
  bottom: 50px;
  left: 30px;
  background-color: #fff4af;
  width: 240px;
  height: 80px;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: inset 0px 0px 20px red;
  z-index: 20;
}
.drawing .cake3 {
  position: absolute;
  bottom: 70px;
  left: 30px;
  background-color: #ffb0be;
  width: 240px;
  height: 80px;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0px 6px 5px -5px red;
  z-index: 30;
}
.drawing .plate {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: grey;
  width: 300px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 3px 5px #000;
  box-shadow: 0 2px 0 #b3b3b3, 0 4px 0 #b3b3b3, 0 5px 40px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes moveFlame {
  0% {
    -webkit-transform: skewX(3deg);
    transform: skewX(3deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.2), 0 0 20px rgba(255, 165, 0, 0.2), 0 0 60px rgba(255, 165, 0, 0.2), 0 0 80px rgba(255, 165, 0, 0.2);
  }
  25% {
    -webkit-transform: skewX(-3deg);
    transform: skewX(-3deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  }
  50% {
    -webkit-transform: skewX(6deg);
    transform: skewX(6deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.3), 0 0 20px rgba(255, 165, 0, 0.3), 0 0 60px rgba(255, 165, 0, 0.3), 0 0 80px rgba(255, 165, 0, 0.3);
  }
  75% {
    -webkit-transform: skewX(-6deg);
    transform: skewX(-6deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.4), 0 0 20px rgba(255, 165, 0, 0.4), 0 0 60px rgba(255, 165, 0, 0.4), 0 0 80px rgba(255, 165, 0, 0.4);
  }
  100% {
    -webkit-transform: skewX(3deg);
    transform: skewX(3deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  }
}
@keyframes moveFlame {
  0% {
    -webkit-transform: skewX(3deg);
    transform: skewX(3deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.2), 0 0 20px rgba(255, 165, 0, 0.2), 0 0 60px rgba(255, 165, 0, 0.2), 0 0 80px rgba(255, 165, 0, 0.2);
  }
  25% {
    -webkit-transform: skewX(-3deg);
    transform: skewX(-3deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  }
  50% {
    -webkit-transform: skewX(6deg);
    transform: skewX(6deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.3), 0 0 20px rgba(255, 165, 0, 0.3), 0 0 60px rgba(255, 165, 0, 0.3), 0 0 80px rgba(255, 165, 0, 0.3);
  }
  75% {
    -webkit-transform: skewX(-6deg);
    transform: skewX(-6deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.4), 0 0 20px rgba(255, 165, 0, 0.4), 0 0 60px rgba(255, 165, 0, 0.4), 0 0 80px rgba(255, 165, 0, 0.4);
  }
  100% {
    -webkit-transform: skewX(3deg);
    transform: skewX(3deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  }
}
