$primaryFont: 'Indie Flower';

$bgBodycolor: #333;
$white: #fff;
$black: #000;
$blue: #229aad;
$red: red;
$greyshadow: #666;
$grey: grey;
$orange: orange;
$vanilla: #fffbe2;
$pink: #ffb0be;